In [1]:
import pandas as pd
import numpy as np

In [21]:
# Before choosing data, I have inspected multiple sources such as Wikipedia, Kaggle, and Yahoo Finance for picking
# the right source. I have downloaded csv file of S&P 500 index price from Yahoo Finance, and performed data cleaning
# using panads
df = pd.read_csv("S&P 500 Weekly.csv", header = 0)
df.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-05-18,2127.790039,2134.719971,2122.590088,2126.060059,2126.060059,8668200000
1,2015-05-25,2125.340088,2126.219971,2099.179932,2107.389893,2107.389893,13377830000

In [17]:
df = pd.read_csv("S&P 500 Weekly.csv", usecols = ["Date","Adj Close","Volume"])
df.head()

         Date    Adj Close       Volume
0  2015-05-18  2126.060059   8668200000
1  2015-05-25  2107.389893  13377830000
2  2015-06-01  2092.830078  15604780000
3  2015-06-08  2094.110107  15214050000
4  2015-06-15  2109.989990  17173880000